header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0px;
}

body {
    background-image: url("wallpaper.jpg");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-nav {
    margin-right: 50px;
    font-size: 22px;
}

.nav-link:hover{
    background:lightcyan;
}